<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>

    @Scripts.Render("~/bundles/modernizr")   
    @Styles.Render("~/Content/css")

    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.css">
    <title>Bootstrap example</title>


</head>
<body>
    <nav class="navbar fixed-top navbar-light">
        <a class="navbar-brand" href="#"><img src="~/Content/img/aulogo.PNG" id="Homelink"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Schedule</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Research papers
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/Home/Papers?id=Crypto">Crypto</a>
                        <a class="dropdown-item" href="/Home/Papers?id=Ubi Com.">Ubi Com.</a>
                        <a class="dropdown-item" href="/Home/Papers?id=Program Verification">Program Verification</a>
                    </div>
                </li>
                
            </ul>
            <form class="form-inline my-2 my-lg-0" action="/Home/FindOffice">
                <input class="form-control mr-sm-2" type="search" placeholder="Search for an office" aria-label="Search" name="Search" id="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>


    <div class="">
        @RenderBody()
        <hr />
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script type="text/javascript">
        google.charts.load('current', { 'packages': ['corechart'] });
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {
            var dataarray = [
                ['Research', 'Works'],
                ['Ubiquitous computing', 11],
                ['Automation of the home', 2],
                ['Human Computer Interaction', 2]
            ];
            var data = google.visualization.arrayToDataTable(dataarray);

            var options = {
                title: 'Research areas'
            };


            var chart = new google.visualization.PieChart(document.getElementById('piechart'));

            //TODO Add on-click-events for the piechart
            google.visualization.events.addListener(chart, 'select', function () {
                //getSelection() gets index of selected slice in an array
                const selected_element = chart.getSelection()[0].row;
                console.log(dataarray[selected_element + 1])
                window.location.href = "/Home/Papers?id=" + dataarray[selected_element + 1][0];

            });

            chart.draw(data, options);
        }

        $(window).resize(function () {
            drawChart();
        });

    </script>
    <script>
        $("#Homelink").click(function () {
            if (window.location.href.includes("Home")) {
                window.location.href = "Index"
            }
            else {
                window.location.href = "Home/Index"
            }
        });
    </script>
</body>
</html>
